<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil - ClimbConnect</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <h1>ClimbConnect</h1>
    <nav>
      <ul>
        <% if(pageTitle !="home" ){%>
          <li><a href="/">Se déconnecter</a></li>
          <%}%>
      </ul>
    </nav>
  </header>