<%- include("partials/header.ejs") %>

  <main>
    <section id="auth">
      <div class="auth-section" id="login">
        <h2>Connexion</h2>
        <form method="Post" action="/login">
          <input name="username" type="text" placeholder="Nom d'utilisateur">
          <input name="password" type="password" placeholder="Mot de passe">
          <button type="submit">Se connecter</button>
        </form>
      </div>
      <div class="auth-section" id="signup">
        <h2>Inscription</h2>
        <form method="POST" action="/registration">
          <input name="username" type="text" placeholder="Nom d'utilisateur">
          <input name="email" type="email" placeholder="Email">
          <input name="password" type="password" placeholder="Créer un mot de passe">
          <button type="submit">S'inscrire</button>
        </form>
      </div>
    </section>
  </main>

  <%- include("partials/footer.ejs") %>