<%- include("partials/header.ejs") %>

  <main>
    <section class="searchResults">
      <% if (climbers && climbers.length> 0) { %>
        <ul>
          <% for (const climber of climbers) { %>
            <li>
              <%= climber.username %>
                <button class="addFriendButton">Ajouter en ami</button>
            </li>
            <% } %>
        </ul>
        <% } else { %>
          <p> Aucun grimpeur correspondant trouvé.</p>
          <% } %>
    </section>
  </main>

  <%- include("partials/footer.ejs") %>