<%- include("partials/header.ejs") %>

  <main>
    <section class="searchResults">
      <% if (climbers && climbers.length> 0) { %>
        <ul>
          <% for (const climber of climbers) { %>
            <li>
              <%= climber.username %>
                <% if (!climber.isFriend) { %>
                  <form action="/addFriend" method="post">
                    <input type="hidden" name="friendUsername" value="<%= climber.username %>">
                    <button type="submit">Ajouter en ami</button>
                  </form>
                  <% } else { %>
                    <span>Ami</span>
                    <% } %>
            </li>
            <% } %>

        </ul>
        <% } else { %>
          <p> Aucun grimpeur correspondant trouvé.</p>
          <% } %>
    </section>
  </main>

  <%- include("partials/footer.ejs") %>