<%- include("partials/header.ejs") %>

  <main>
    <section class="searchResults">
      <%if (climbers) {%>
        <ul>
          <%for(climber of climbers){%>
            <li>
              <%= climber.username%>
                <button class="addFriendButton">Ajouter en ami</button>
            </li>
            <%}%>
        </ul>
        <%}%>
    </section>
  </main>

  <%- include("partials/footer.ejs") %>